@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 30 41 59;
  --background: 248 249 251;
}

html, body { font-family: Inter, system-ui, sans-serif; }

table tbody tr:nth-child(even) { background-color: rgb(248 249 251); }
